h1 {
  color: rgb(160, 120, 9);
  font-size:75px; text-align: center;
}
h2 {
  color: crimson; font-size: xx-large; margin-top: 350px; text-align: left;

}


body {background-color: darkslategray;}

header {background-color: black; mmargin: 2px 2px 2px; padding: 50px;
}

ol {text-align: center; color: crimson; margin-top: 100px;

}

